.testimonial-swiper .swiper-slide {
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transform: scale(0.7);
  opacity: 0.4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-swiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}
